body{
    background-image: url(film-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
table{
    border: ridge;
    background-image:url(B\ W.jpg);
    background-size: cover;
}
div{
    text-overflow: clip;
    background: transparent;    
    color: tomato;
}
h1{
    color: blue;
    margin-bottom: 5%;
    border: solid yellow;
    border-color:white;
    background-color: turquoise;
    width: 400px;
    margin-left: 35%;
}